@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Cookie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f4f4f4;
$text-color: #333;
$border-radius: 5px;
*{
    margin: 0;
    padding: 0;
    .main2{
        width: 100%;
        height: 100vh;
        background-image: url("loginbg.jpeg");
        object-fit: cover;
        background-size: cover;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .login{
        height: 70vh;
        width: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.637);
        line-height: 40px;
        border-radius: 10px;
        text-align: center;
        backdrop-filter: blur(10px);
    }
    h2{
        font-size: 60px;
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 10px;
    }
    .input-group {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
      
        label {
          margin-bottom: 5px;
          font-weight: bold;
          color: $text-color;
        }
      
        input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: $border-radius;
          font-size: 16px;
          transition: border-color 0.3s;
      
          &:focus {
            border-color: $primary-color;
            outline: none;
          }
        }
      }
      
      .login-btn {
        background-color: $primary-color;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: $border-radius;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
      
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
      
      .forgot-password {
        margin-top: 10px;
        text-align: center;
      
        a {
          color: $primary-color;
          text-decoration: none;
          transition: color 0.3s;
      
          &:hover {
            color: darken($primary-color, 10%);
          }
        }
      }
      
      .signup {
        text-align: center;
        margin-top: 20px;
      
        p {
          color: $text-color;
      
          a {
            color: $secondary-color;
            text-decoration: none;
            transition: color 0.3s;
      
            &:hover {
              color: darken($secondary-color, 10%);
            }
          }
        }
      }
      
}